body {
	margin: 2em 6em 0 6em;
	background: linear-gradient(to right,#C6FFDD,#FBD786,#f7797d);
}

.book_container {
	margin: 0 auto;
	/*border: 1px solid black;*/ /* it will be removed*/

	display: flex;
	width: 79%;
	justify-content: space-around;
	padding: 10px;
	flex-wrap: wrap;
}

.book-set {
	margin: 2px 2px 1em 2px;
	padding: 10px;
	color: black;
	background: rgb(167, 171, 168);
	border: 2px solid rgb(167, 171, 168);
	border-radius: 2px;
}

.book-set:hover	{
	box-shadow: 0px 10px 50px rgba(0,0,0,0.3);
	
}

.book-info {
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 90%;
}