body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: sans-serif;
}

/*nav part start*/
* {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    font-family: 'Poppins', sans-serif;
    background: #233463;
}

.logo {
    margin-top: 4px;
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    text-shadow: -2px 2px 3px #ffffff;
}

.nav-links {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
}

.dif-color, .dif-color:hover {
    color: rgb(226, 226, 226);
}
/*end*/

table {
    border: 2px solid #28a5de;
    padding: 2px;
    margin-bottom: 1em;
}

.header {
    color: blue;
}

th,
td {
    border: 2px solid white;
    height: 30px;
    padding: 10px 14px 10px 14px;
    text-align: center;
}

input {
    border-color: #dccece;
    height: 20px;
}

.submit {
    background-color: #13abea;
    height: 2em;
    width: 4em;
    padding: 2px;
}

.submit:hover {
    border: 2px solid #13abea;
}

.booklist {
    margin-left: 10em;
    margin-top: 3em;
}

.booklist table {
    width: 50em;
}