body{
	overflow: scroll;
	background-color: rgb(237, 236, 178);
	animation-name: home_animation;
	animation-duration: 0.6s;
}
h1{
	font-family: Comic Sans Ms;
}
.First_part{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
/*.search{
	float: center;
}*/
.Second_part{
	background-image: url(../image/book-2.jpg);
	height: 30em;
	/*margin between nav and first_part*/
	margin-top: -20.6px;
	color: rgb(240, 232, 216);
	box-shadow: 0px 2px 3px #666;
}
.Second_part p{
	padding: 9em;
	font-size: 130%;
	font-family: Comic Sans Ms;
}
.title{
	font-family: arial,Verdana;
}
.nav{
	background-color: rgb(30, 32, 41);
}
ul{
	list-style-type: none;
	box-shadow: 0px 2px 3px #666;
}
li{
	display: inline-block;
}
li a{
	display: block;
	text-decoration: none;
	color: rgb(240, 232, 216);
	padding: 0.8em;
	margin: 0 1.5em 0 0;
}
li a:hover{
	background-color: rgb(163, 160, 155);
	box-shadow: 0px 2px 3px #666;
	margin-left: -0.1px;
	margin-right: 0.1px;
	margin-top: 0.1px;
}
li a:active{
	text-decoration: underline;
}
#icon{
	height: 50px;
	width: 50px;
	border-radius: 32px; 
	margin-top: 12px;
	margin-right: 12px;
}
#myaccount{
	display: none;
}
@keyframes home_animation{
	from{opacity: 0};
	to{opacity: 1};
}